* {
    margin: 0;
    padding: 5px;
    font-family: "Alliance-no1", sans-serif;
}
.background {
    width: 100%;
    height: 100%;
    background-image: url(C:\Users\Jackson\Documents\GitHub\WEB503-A2-2022\seoul-wallpaper.jpg);
}