@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

h1 {
    font-family: AllianceNo1;
    font-size: 10em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
}