*{
    margin: 0;
    padding: 0;
}
                                        /* Home page and background */
#banner {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1554310603-d39d43033735?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.logo h2 {
    position: absolute;
    top: 2%;
    left: 3%;
    font-family: 'Yellowtail', cursive;
    color:rgb(189, 68, 44);
    font-size: 90px;
}
                                        /* Navigation bar */
.banner-text {
    text-align: center;
    color: white;
    padding-top: 220px;
}
.banner-text h1 {
    font-size: 100px; 
    font-family: "Poppins", sans-serif;
    line-height: 1;
    padding-bottom: 30px;
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
    font-family: "Alliance-no1", sans-serif;
}
.banner-btn {
    margin: 70px auto 0;
}
.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid white;
    position: relative;
    font-family: "Alliance-no1", sans-serif;
    z-index: 1;
}
.banner-btn a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(150, 30, 0);
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span {
    width: 100%;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    background:rgb(34, 34, 34);
    z-index: 4;
    padding-top: 70px;
    transition: 0.4s;
    font-family: "Poppins", sans-serif;
}
nav ul li {
    display: block;
    list-style: none;
    position: relative;
    padding: 20px 0;
    padding-left: 20px;
    margin: 30px 0;
}
nav ul li:hover {
    background-color: rgb(48, 48, 48);
}
nav ul li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}
nav ul li a i {
    padding-right: 20px;
}

#menuBtn {
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 5;
    cursor: pointer;
    
}
#menuBtn img {
    width: 50px;
    height: 50px;
}


                                            /* about me section */
.info-box {
    padding: 100px 0;
    margin: auto;
    text-align: center;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    font-family: "poppins", sans-serif;
}
.info {
    flex-basis: 50%;
}
.info-img {
    flex-basis: 50%;
    margin: auto;
}
.info-img img {
    width: 700px;
    height: 550px;
    border: 3px solid rgb(175, 35, 0);
    border-radius: 15px;
    opacity: 0.9;
}
.info h3 {
    font-weight: 50;
    font-size: 30px;
    color: rgb(175, 35, 0)
}
.info p {
    margin: 0 50px;
    font-size: 18px;
    font-style: italic;
    padding: 20px 0;
    text-align: left;
}



                                            /* projects */
#projects {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    font-family: "Poppins", sans-serif;
}
                                        
#projects h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 50;
    color: rgb(175, 35, 0);
    padding: 50px 0;
}
.project-row {
    display: flex;
    flex-wrap: auto;
    justify-content: space-between;
    align-items: center;
}
.project-col{
    flex-basis: 32%;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.project-col img {
    width: 100%;
    display: block;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(175, 30, 0, 0.7);
}
.layer h4 {
    width: 100%;
    font-weight: 500;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h4 {
    opacity: 1;
    bottom: 5%;
}
.layer h3 {
    width: 100%;
    text-decoration: underline;
    font-weight: 500;
    color: white;
    font-size: 26px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3 {
    top: 5%;
    opacity: 1;
}
.layer p {
    width: 90%;
    color: white;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p {
    top: 26%;
    opacity: 1;
}








                                            /* footer */
#footer {
    padding: 50px 0 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: 3;
    background-color:rgb(245, 245, 245)
}
.footer-row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.footer-left,.footer-right {
    padding: 10px;
    margin-bottom: 20px;
    line-height: 30px;
}
.footer-right  {
    text-align: right;
}
.footer-row h1 {
    font-size: 18px;
    margin: 20px 0;
    color: rgb(0, 0, 0);
}
.footer-row p {
    font-size: 15px;
}
.footer-left i, .footer-right i{
    padding-right: 10px;
    font-size: 20px;
    color:rgb(175, 35, 0)
}
.footer-right a, .footer-left p{
    color: rgb(124, 124, 124);
}
@media screen and (max-width: 1100px) {

    .banner-text h1 {
        padding-top: 90px;
        font-size: 80px;
    }
    .banner-text p {
        font-size: 25px;
    }
    #menubtn {
        padding: 30px;
    }
    .info-box {
        flex-direction: column;
    }
    .project-row {
        flex-direction: column;
        align-items: center;
    }
    .project-col {
        flex-basis: 32%;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 720px) {
    
    .banner-text h1 {
        font-size: 55px;
    }
    .banner-text p {
        font-size: 20px;
    }
    .info-box {
        margin: 0;
        align-items: center;
        flex-direction: column;
    }
    .info-img img {
        width: 400px;
        height: 350px;
    }
    .info p {
        text-align: center;
        margin: 0 20px;
        font-size: 16px;
    }
    #projects {
        padding-top: 0px;
    }
    #projects h1 {
        padding: 30px 0;
    }
    .project-row {
        flex-direction: column;
        align-items: center;
    }
    .project-col {
        flex-basis: 32%;
        margin-bottom: 50px;
    }
    .footer-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-right, .footer-left {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    
    .logo h2 {
        font-size: 50px;
        top: 3%;
        left: 8%;
    }
    #sideNav {
        width: 150px;
        padding-top: 80px;
    }
    .banner-text h1 {
        font-size: 40px; 
        padding-top: 80px;
    }
    .banner-text p {
        font-size: 15px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
    #menuBtn {
        padding: 0px;
    }
    nav ul li a {
        font-size: 13px;
    }
    .info-box {
        margin: 0;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .info-img img {
        display: none;
    }
    #projects {
        padding-top: 0px;
    }
    #projects h1 {
        padding: 30px 0;
    }
    .project-row {
        flex-direction: column;
        align-items: center;
    }
    .project-col {
        flex-basis: 32%;
        margin-bottom: 50px;
    }
    .footer-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .layer h4 {
        display: none;
    }
    .layer h3 {
        font-size: 20px;
    }
    .layer p {
        font-size: 14px;
    }
    .footer-right, .footer-left {
        text-align: center;
    }
    .footer-right h1, .footer-left h1 {
        font-size: 16px;
    }
    .footer-right p, .footer-left p {
        font-size: 13px;
    }
}